<div>
    <div class="col-lg-8 col-lg-offset-2 page-header">
        <h1>Social Network</h1>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
            <h2>Login</h2>
            <form novalidate class="login-form" name="loginForm">
                <div class="form-group">
                    <label for="username">Username</label><br>
                    <input id="username" name="username" ng-model="user.username" required="" class="form-control"/>
                    <span class="text-danger" ng-show="loginForm.username.$error.required">username is required</span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label><br>
                    <input id="password" type="password" name="password" ng-model="user.password" required="" class="form-control"/>
                    <span class="text-danger" ng-show="loginForm.password.$error.required">password is required</span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" ng-click="login(user)" ng-disabled="!loginForm.$valid" class="btn btn-default"/>
                </div>
            </form>
        </div>
        <div class="col-lg-4">
            <h2>Registration</h2>
            <form novalidate class="registration-form" name="registrationForm">
                <div class="form-group">
                    <label for="usernameReg">Username</label><br>
                    <input id="usernameReg" ng-model="newUser.username" name="username" required="" class="form-control"/>
                    <span class="text-danger" ng-show="registrationForm.username.$error.required">username is required</span>
                </div>
                <div class="form-group">
                    <label for="passwordReg">Password</label><br>
                    <input id="passwordReg" type="password" ng-model="newUser.password" name="password" required="" class="form-control"/>
                    <span class="text-danger" ng-show="registrationForm.password.$error.required">password is required</span>
                </div>
                <div class="form-group">
                    <label for="passwordConfirm">Confirm password</label><br>
                    <input id="passwordConfirm" type="password" ng-model="newUser.confirmPassword" name="confirmPassword" required="" class="form-control"/>
                    <span class="text-danger" ng-show="registrationForm.confirmPassword.$error.required">you need to confirm your password</span>
                </div>
                <div class="form-group">
                    <label for="name">Name</label><br>
                    <input id="name" ng-model="newUser.name" name="name" required="" class="form-control"/>
                    <span class="text-danger" ng-show="registrationForm.name.$error.required">name is required</span>
                </div>
                <div class="form-group">
                    <label for="email">Email</label><br>
                    <input type="email" id="email" ng-model="newUser.email" name="email" required="" class="form-control"/>
                    <span class="text-danger" ng-show="registrationForm.email.$error.required">email is required</span>
                    <span class="text-danger" ng-show="registrationForm.email.$error.email">email is not valid</span>
                </div>
                <div class="form-group">
                    <label>Gender</label><br>
                    <label for="male">Male</label>
                    <input id="male" type="radio" name="gender" ng-model="newUser.gender" value="1"/>
                    <label for="female">Female</label>
                    <input id="female" type="radio" name="gender" ng-model="newUser.gender" value="2"/>
                    <label for="other">Other</label>
                    <input id="other" type="radio" name="gender" ng-model="newUser.gender" value="0"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Registration" ng-click="register(newUser)" ng-disabled="!registrationForm.$valid" class="btn btn-default"/>
                </div>
            </form>
        </div>
    </div>
</div>