<h2>User wall {{username}}</h2>
<div>
    Cover:<img ng-src="data:image/jpeg;base64,{{userFullData.coverImageData}}"><br>
    <img ng-src="data:image/jpeg;base64,{{userFullData.profileImageData}}">
    <p>{{userFullData.name}}</p>
    <p>{{userFullData.username}}</p>
    <p>{{userFullData.gender | digitToGender}}</p>
    <p><button ng-click="sendFriendRequest(userFullData.username)">Send friend request</button></p>
</div>
<hr>
<hr>
<div ng-repeat="post in posts">
    <div show-post posts-update="showPosts()" post="post"></div>
</div>
<div ng-show="loadingPosts">Loading posts...</div>
<div new-post posts-update="showPosts()" wall-owner="username"></div>
<div scroll>friends preview</div>
<div ng-if="showFriendsPreview">
    <div show-friends-preview username="username"></div>
</div>
