<h2>User wall {{username}}</h2>
<div>
    Cover:<img ng-src="data:image/jpeg;base64,{{userFullData.coverImageData}}"><br>
    <img ng-src="data:image/jpeg;base64,{{userFullData.profileImageData}}">
    <p>{{userFullData.name}}</p>
    <p>{{userFullData.username}}</p>
    <p>{{userFullData.gender | digitToGender}}</p>
    <div ng-switch="friendStatus">
        <button ng-switch-when="notFriend" ng-click="sendFriendRequest(userFullData.username)">Send friend request</button>
        <div ng-switch-when="friend">Friend</div>
        <div ng-switch-when="pending">Pending</div>
        <div ng-switch-default>...</div>
    </div>
</div>
<hr>
<hr>
<div ng-repeat="post in posts">
    <div show-post post="post" posts="posts"></div>
</div>
<div class="loading-wrapper">
    <div ng-show="loadingPosts">
            <div class="loading"></div>
    </div>
</div>
<div ng-if="showAddPost" new-post posts="posts" wall-owner="username"></div>
<div scroll callback="showPosts" bot-offset="10">
    friends preview
</div>
<div ng-if="showFriendsPreview" show-friends-preview username="username"></div>

