<div class="wall-user-data">
    <div back-img="{{userFullData.coverImageData}}">
        <div class="col-lg-4 col-lg-offset-2">
            <div class="wall-profile-image img-thumbnail">
                <img ng-src="{{userFullData.profileImageData | noImage}}">
            </div>
            <div class="wall-profile-names">
                <div class="row">
                    <div class="col-lg-6">
                        <p>{{userFullData.name | uppercase}}</p>
                        <p>{{userFullData.username}}</p>
                    </div>
                    <div ng-switch="friendStatus" class="col-lg-4">
                        <div class="col-lg-5">
                            <button ng-switch-when="notFriend" ng-click="sendFriendRequest(userFullData.username)" class="btn btn-green">
                                Send friend request
                            </button>
                            <div ng-switch-when="friend" class="btn btn-blue">Friend</div>
                            <div ng-switch-when="pending"  class="btn btn-orange">Pending</div>
                            <div ng-switch-default></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 wall-gender"><img ng-src="{{userFullData.gender | digitToGender}}"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="profile-footer"></div>
<div class="row">
    <section class="col-lg-6 col-lg-offset-2">
        <div ng-repeat="post in wallData.posts" show-post post="post" posts="wallData" class="post"></div>
        <div class="loading-wrapper">
            <div ng-show="loadingPosts">
                <div class="loading"></div>
            </div>
        </div>
        <div scroll callback="showPosts" bot-offset="10"></div>
    </section>
    <aside class="col-lg-3">
        <div ng-if="showFriendsPreview" show-friends-preview username="username"></div>
        <div ng-if="showAddPost" new-post posts="wallData.posts" wall-owner="username" class="new-post"></div>
    </aside>
</div>
