<nav ng-controller="navigationController" >
    <ul ng-if="getLoggedIn()">
        <li><a ng-href="#/{{getUsername()}}/wall">{{getUsername()}}</a></li>
        <li><a>news feed</a></li>
        <li><a ng-click="toggleRequests()">requests <span ng-bind="requestsCount.count"></span></a><div ng-if="active"><div ng-include="'components/friends/views/friend-requests.html'"></div></div></li>
        <li><a ng-href="#/profile/edit">edit profile</a></li>
        <li><a ng-href="#/profile/changepassword">change password</a></li>
        <li><a ng-href="#/logout">logout</a></li>
    </ul>
</nav>