<div class="col-lg-8 col-lg-offset-2 page-header">
    <h1>Change password</h1>
</div>
<div class="row">
    <form class="profile-edit-form col-lg-8 col-lg-offset-2" name="changePassword">
        <div class="form-group">
            <label for="old-password">Old password</label><br>
            <input id="old-password" ng-model="passwordData.oldPassword" type="password" class="form-control" name="oldPass" required/>
            <span class="text-danger" ng-show="changePassword.oldPass.$error.required">you need to enter your old password</span>
        </div>
        <div class="form-group">
            <label for="new-password">New password</label><br>
            <input id="new-password" ng-model="passwordData.newPassword" type="password" class="form-control" name="newPass" required/>
            <span class="text-danger" ng-show="changePassword.newPass.$error.required">you need to enter your new password</span>
        </div>
        <div class="form-group">
            <label for="confirm-password">Confirm password</label><br>
            <input id="confirm-password" ng-model="passwordData.confirmPassword" type="password" class="form-control" name="confirm" required/>
            <span class="text-danger" ng-show="changePassword.confirm.$error.required">you need to confirm your new password</span>
        </div>
        <div class="form-group">
            <input ng-disabled="!changePassword.$valid" type="submit" value="Save changes" ng-click="changePassword(passwordData)" class="btn btn-default"/>
            <a ng-href="#/{{username}}/wall"><button class="btn btn-default">Cancel</button></a>
        </div>
    </form>
</div>