<div>
    <form>
        <label for="old-password">Old password</label>
        <input id="old-password" ng-model="passwordData.oldPassword" type="password"/><br>
        <label for="new-password">New password</label>
        <input id="new-password" ng-model="passwordData.newPassword" type="password"/><br>
        <label for="confirm-password">Confirm password</label>
        <input id="confirm-password" ng-model="passwordData.confirmPassword" type="password"/><br>
        <input type="submit" value="Save changes" ng-click="changePassword(passwordData)"/>
    </form>
</div>