<div class="col-lg-8 col-lg-offset-2 page-header">
    <h1>Edit profile</h1>
</div>
<div class="row">
    <form novalidate name="editProfileForm" class="profile-edit-form col-lg-8 col-lg-offset-2">
        <div class="form-group">
            <label for="name">Name</label><br>
            <input id="name" ng-model="user.name" name="name" class="form-control" required/>
            <span class="text-danger" ng-show="editProfileForm.name.$error.required">name is required</span>
        </div>
        <div class="form-group">
            <label for="email">Email</label><br>
            <input type="email" id="email" ng-model="user.email" name="email" class="form-control" required/>
            <span class="text-danger" ng-show="editProfileForm.email.$error.email">valid email is required</span>
            <span class="text-danger" ng-show="editProfileForm.email.$error.required">email is required</span>
        </div>
        <div class="form-group">
            <label>Gender</label><br>
            <label for="male">Male</label>
            <input id="male" type="radio" name="gender" ng-model="user.gender" value="1"/>
            <label for="female">Female</label>
            <input id="female" type="radio" name="gender" ng-model="user.gender" value="2"/>
            <label for="other">Other</label>
            <input id="other" type="radio" name="gender" ng-model="user.gender" value="0"/><br>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <label>Profile picture</label>
                <input type="file" onchange="angular.element(this).scope().setImageFile(this, 'profileImageData')">
                <div class="profile-image-preview">
                    <img ng-src="{{user.profileImageData | noImage}}" class="img-thumbnail">
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <label>Cover picture</label>
                <input type="file" onchange="angular.element(this).scope().setImageFile(this, 'coverImageData')">
                <div class="cover-image-preview">
                    <img ng-src="{{user.coverImageData | noImage}}" class="img-thumbnail">
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" ng-disabled="!editProfileForm.$valid" value="Save changes" ng-click="editProfile(user)" class="btn btn-default"/>
            <a ng-href="#/{{user.username}}/wall"><button class="btn btn-default">Cancel</button></a>
        </div>
    </form>
</div>