<div class="col-lg-9 col-lg-offset-2 page-header">
    <h1>News feed</h1>
</div>
<div class="row">
    <section class="col-lg-6 col-lg-offset-2">
        <div ng-repeat="post in feedData.posts" show-post posts="feedData" post="post" class="post"></div>
        <div class="loading-wrapper">
            <div ng-show="loadingPosts">
                <div class="loading"></div>
            </div>
        </div>
        <div scroll callback="showPosts" bot-offset="10"></div>
    </section>
    <aside class="col-lg-3">
        <div show-friends-preview username="username"></div>
    </aside>
</div>