<div>
    <p ng-click="toggleUserPreview()">{{post.author.username}}</p>
    <div ng-if="userPreviewActive"><div show-user-preview username="post.author.username"></div></div>
    <p>{{post.date}}</p>
    <p>{{post.postContent}}</p>
    <div show-post-likes post="post"></div>
    <button ng-click="deletePost(post.id)">Delete</button>
    <button ng-click="toggleCommentForm()">
        <span ng-if="showForm">Hide form</span>
        <span ng-if="!showForm">Add comment</span>
    </button>
    <div ng-if="showForm">
        <div new-comment post-id="post.id" append-comment="appendComment(newComment)"></div>
    </div>

    <div>Comments count: {{post.totalCommentsCount}}</div>
    <div ng-repeat="comment in post.comments">
        <div show-comment comment="comment" post-id="post.id" remove-comment="removeComment(commentId)"></div>
    </div>
</div>
<hr>