<div>
    <p ng-click="toggleUserPreview()">{{post.author.username}}</p>
    <div ng-if="userPreviewActive"><div show-user-preview username="post.author.username"></div></div>
    <p>{{post.date | date:'yyyy-MM-dd HH:mm'}}</p>
    <p>{{post.postContent}}</p>
    <div show-post-likes post="post"></div>
    <button ng-click="deletePost(post.id)">Delete</button>
    <button ng-click="toggleCommentForm()">
        <span ng-show="showAddForm">Hide form</span>
        <span ng-show="!showAddForm">Add comment</span>
    </button>
    <div ng-show="showAddForm">
        <div new-comment post-id="post.id" append-comment="appendComment(newComment)"></div>
    </div>

    <button ng-click="togglePostEditForm()">
        <span ng-show="showEditForm">Hide form</span>
        <span ng-show="!showEditForm">Edit post</span>
    </button>
    <div ng-if="showEditForm">
        <div edit-post post="post"></div>
    </div>

    <div>Comments count: {{post.totalCommentsCount}}</div>
    <div ng-repeat="comment in post.comments">
        <div show-comment comment="comment" post-id="post.id" remove-comment="removeComment(commentId)"></div>
    </div>
</div>
<hr>