<div>
    <p>
        <a ng-href="#/posts/{{post.id}}/comments/{{comment.id}}/likes" ng-mouseover="toggleLikesPreview()" ng-mouseleave="toggleLikesPreview()">
            {{comment.likesCount}} liked this comment
        </a>
    </p>
    <p ng-if="showLikesPreview" show-likes-preview users="likesUsersData" class="likes-preview"></p>
    <div ng-if="canLike">
        <button ng-if="!comment.liked" ng-click="likeComment(comment.id)">Like</button>
        <button ng-if="comment.liked" ng-click="unlikeComment(comment.id)">Unlike</button>
    </div>
</div>