<div ng-repeat="request in requests" class="friend-request">
    <div>
        <a ng-href="#/{{request.user.username}}/wall" class="request-user">
            <div class="nav-profile-image pull-left">
                <img ng-src="{{request.user.profileImageData | noImage}}">
            </div>
            <div class="pull-left request-user-name">{{request.user.name}}</div>
        </a>
        <div class="pull-right">
            <button ng-click="approveRequest(request.id)" class="btn btn-green">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
            <button ng-click="rejectRequest(request.id)" class="btn btn-orange">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div>total: {{requestsCount.count}}</div>
