/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/*layoout*/

.container-full {
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
}

/*.........................*/
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 142px;
}
.site-footer {
  background-color: #58585B;
}
/*...............................*/



/*navigation*/

.navbar-collapse {
  margin-top: 9px;
}

.navbar {
  background-color: #404041;
}

.navbar ul li {
  padding-bottom: 10px;
}

.navbar ul li:first-child {
  padding-bottom: 0px;
}

.active-tab {
  border-bottom: 2px solid #C65229;
}

.navbar ul li a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar .navbar-collapse ul li a {
  color: #A9A9A9;
}

.navbar .navbar-collapse ul li a:hover,
.navbar .navbar-collapse ul li a:focus{
  color: #F1F1F1;
}

.nav-profile-image {
  position: relative;
  top: -4px;
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.friend-request {
  padding: 5px;
}

.friend-request>div>a>div:nth-child(2) {
  margin-top: 5px;
}

.navbar .navbar-collapse .request-user:hover,
.navbar .navbar-collapse .request-user:focus {
  color: black;
}

.friend-request .btn {
  margin-top: 2px;
  padding: 2px 6px;
}

.friend-request .nav-profile-image {
  top: 0px;
}


.users-search-results .nav-profile-image {
  top: 0px;
}

.users-search-results>div {
  padding: 5px;
}

.nav-profile-image img {
  height: 30px;
  width: 100%;
  overflow: hidden;
}


.friend-requests {
  position: absolute;
  top: 40px;
  width: 200px;
  background-color: #F1F1F1;
  border: 2px solid #C65229;

}

.users-search-results {
  position: absolute;
  top: 40px;
  width: 175px;
  background-color: #F1F1F1;
  border: 2px solid #5E9AA2;
}

.users-search {
  height: 30px;
  margin-top: 1px;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
}

/*posts*/

.post {
  margin-top: 25px;
}

.post:first-child {
  margin-top: 0px;
}

.post-main {
  background-color: #E9E9E9;
  padding: 10px;
  position: relative;
}

.post-header {
  padding: 5px;
  height: 25px;
  color: white;
  background-color: #58585B;
}

.post-content {
  position: relative;
  padding: 10px;
  background-color: #F1F1F1;
  box-shadow: 5px 5px 5px #888888;
  margin-bottom: 5px;
}

.edit-form {
  border: 2px solid #C65229;
}

.edit-form form {
  height: 60px;
}

.edit-form button {
  height: 100%;
}

.edit-form textarea {
  height: 100%;
}

.new-post {
  margin-top: 25px;
}

.new-post-main {
  background-color: #E9E9E9;
  padding: 10px;
}

.new-post form {
  border: 2px solid #93B244;
  padding: 0px;
  height: 120px;
}

.new-post textarea {
  height: 100%;
}

.new-post .btn {
  height: 100%;
}

.new-post-header {
  padding: 5px;
  height: 25px;
  color: white;
  background-color: #58585B;
}

/*wall*/

.wall-user-data {
  height: 250px;
}

.wall-user-data>div{
  height: 100%;
}

.profile-footer {
  background: #E9E9E9;
  height: 20px;
  margin-bottom: 25px;
}

/*comment*/

.comment {
  padding: 10px;
  margin: 5px 0px;
  background-color: #F1F1F1;
  box-shadow: 5px 5px 5px #888888;
}

.add-comment {
  border: 2px solid #93B244;
}

.add-comment form {
  height: 60px;
}

.add-comment button {
  height: 100%;
}

.add-comment textarea {
  height: 100%;
}

/*likes*/

.likes {
  width: 50%;
}

.likes-count {
  position: relative;
  margin: 0px 15px;
  top: 6px;
}

.likes-preview {
  z-index: 100;
  position: absolute;
  padding: 5px;
  width: 170px;
  left: 0px;
  border: 2px solid #5E9AA2;
  background-color: #F1F1F1;
}

/*buttons*/

.btn {
  border-radius: 0px;
}

.btn:focus {
  outline:0;
}

.btn-blue {
  background-color: #80BCC6;
  border: 2px solid #5E9AA2;
  color: white;
}

.btn-green {
  background-color: #98C841;
  border: 2px solid #93B244;
  color: white;
}

.btn-orange {
  background-color: #EE652F;
  border: 2px solid #C65229;
  color: white;
}

.show-comments {
  position: absolute;
  bottom: 12px;
  padding: 4px;
  left: 10px;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

/*users*/

.user-preview {
  position: absolute;
  top: 40px;
  border: 2px solid #5E9AA2;
  padding: 5px;
  width: 170px;
  background-color: #F1F1F1;
}

.user-name {
  margin-left: 15px;
  position: relative;
  width: 300px;
}

.profile-image img {
  height: 60px;
  width: 100%;
  overflow: hidden;
}

.profile-image {
  width: 60px;
  height: 60px;
}

/*friends preview*/

.friends-preview-main {
  background-color: #E9E9E9;
  padding: 10px;
}

.friends-preview-header {
  padding: 5px;
  height: 25px;
  color: white;
  background-color: #58585B;
}

.friends-preview-image {
  /*height: 60px;*/
  padding: 0px;
}

.friends-preview-image span {
  position: absolute;
  color: black;
  bottom: 0px;
  left: 5px;
}

.friends-preview-image img {
  /*height: 60px;*/
  width: 100%;
  overflow: hidden;
}

/*common */

.users-result {
  padding: 3px;
}

.users-result>div:nth-child(2) {
  margin: 10px 5px 0px 5px;
}

.users-results-wrapper {
  margin-bottom: 25px;
}

.users-results-image {
  width: 60px;
  height: 60px;
}

.users-results-image img {
  height: 60px;
  width: 100%;
  overflow: hidden;
}

.loading-wrapper {
  height: 35px;
}

.loading {
  width: 26px;
  height: 26px;
  margin-left: auto;
  margin-right: auto;
  background: url('images/loading.png') left center;
  -webkit-animation: play .8s steps(12) infinite;
  -moz-animation: play .8s steps(12) infinite;
  -ms-animation: play .8s steps(12) infinite;
  -o-animation: play .8s steps(12) infinite;
  animation: play .8s steps(12) infinite;
}

@-webkit-keyframes play {
  100% { background-position: -312px; }
}

@-moz-keyframes play {
  100% { background-position: -312px; }
}

@-o-keyframes play {
  100% { background-position: -312px; }
}

@keyframes play {
  100% { background-position: -312px; }
}

/*edit profile*/

.profile-image-preview {
  width: 160px;
  height: 160px;
}

.profile-image-preview img {
  height: 160px;
  width: 100%;
  overflow: hidden;
}

.cover-image-preview {
  width: 160px;
  height: 160px;
}