/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/*layoout*/

main {
  margin-top: 40px;
}

footer {
  background-color: #58585B;
}

/*navigation*/

.navbar-collapse {
  margin-top: 9px;
}

.navbar {
  background-color: #404041;
}

.navbar ul li {
  padding-bottom: 10px;
}

.navbar ul li:first-child {
  padding-bottom: 0px;
}

.active-tab {
  border-bottom: 2px solid #C65229;
}

.navbar ul li a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-profile-image {
  position: relative;
  top: -4px;
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.friend-request {
  padding: 5px;
}

.friend-request>div>div:nth-child(2) {
  margin-top: 5px;
}

.friend-request .btn {
  margin-top: 2px;
  padding: 2px 6px;
}

.friend-request .nav-profile-image {
  top: 0px;
}


.users-search-results .nav-profile-image {
  top: 0px;
}

.users-search-results>div {
  padding: 5px;
}

.nav-profile-image img {
  height: 30px;
  width: 100%;
  overflow: hidden;
}


.friend-requests {
  position: absolute;
  top: 40px;
  width: 200px;
  background-color: #F1F1F1;
  border: 2px solid #C65229;

}

.users-search-results {
  position: absolute;
  top: 40px;
  width: 175px;
  background-color: #F1F1F1;
  border: 2px solid #5E9AA2;
}

.users-search {
  height: 30px;
  margin-top: 1px;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
}

/*posts*/

.post {
  background-color: #E9E9E9;
  padding: 10px;
  margin-top: 25px;
}

.post-content {
  padding: 10px;
  background-color: #F1F1F1;
  box-shadow: 5px 5px 5px #888888;
  margin-bottom: 5px;
}

.edit-post {
  border: 2px solid #C65229;
}

/*comment*/

.comment {
  padding: 10px;
  margin: 5px 0px;
  background-color: #F1F1F1;
  box-shadow: 5px 5px 5px #888888;
}

.add-comment {
  border: 2px solid #93B244;
}

/*likes*/

.likes {
  width: 50%;
}

.likes-count {
  position: relative;
  margin: 0px 15px;
  top: 6px;
}

.likes-preview {
  z-index: 100;
  position: absolute;
  padding: 5px;
  width: 170px;
  left: 0px;
  border: 1px solid #5E9AA2;
  background-color: #F1F1F1;
}

/*buttons*/

.btn {
  border-radius: 0px;
}

.btn:focus {
  outline:0;
}

.btn-blue {
  background-color: #80BCC6;
  border: 2px solid #5E9AA2;
  color: white;
}

.btn-green {
  background-color: #98C841;
  border: 2px solid #93B244;
  color: white;
}

.btn-orange {
  background-color: #EE652F;
  border: 2px solid #C65229;
  color: white;
}

.delete-button {
  position: absolute;
  top: 35px;
  right: 30px;
}

/*users*/

.user-preview {
  position: absolute;
  top: 15px;
  border: 1px solid #5E9AA2;
  background-color: #F1F1F1;
}

.user-name {
  margin-left: 15px;
  position: relative;
  width: 300px;
}

.profile-image img {
  height: 60px;
  width: 100%;
  overflow: hidden;
}

.profile-image {
  width: 60px;
  height: 60px;
}


