<div class="pull-right">
    <button ng-click="unlikePost(post.id)" ng-if="post.liked" class="btn btn-blue">
        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Unlike
    </button>
    <button ng-click="likePost(post.id)" ng-if="!post.liked" class="btn btn-blue">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Like
    </button>
</div>
<div class="pull-right">
    <a ng-href="#/posts/{{post.id}}/likes" ng-mouseover="toggleLikesPreview()" ng-mouseleave="toggleLikesPreview()" class="likes-count">
        {{post.likesCount}} liked this post
        <div ng-if="showLikesPreview" show-likes-preview users="likesUsersData" class="likes-preview"></div>
    </a>
</div>
<div class="clearfix"></div>
